<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Javascript Drum Machine</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="public/style.css">
    
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
    <script src="public/client.js" defer></script>
    <script src="public/drummachine.js" defer></script>
  </head>
  <body>
    
    <h1>Drum Machine (Record, Set Tempo with MIDI, and Upload Your Own Samples)</h1>
    <div class="flex-container outer">
      <div class="view">    
        <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse" id="upload">
          <div class="flex-container">
            <input id="inputfield" type="file" name="upfile" multiple required>
            <input id="button" type="submit" value="UPLOAD">
          </div>
        </form>
        <form method="GET" action="/music/directory" id="currentFiles">
          <div class="flex-container" id="wavContainer">
            <input id="getFiles" type="submit" value="LOAD .WAV FILES">
          </div>
        </form>
        <form action="/music/delete" id="clearDirectory">
          <div class="flex-container">
            <input type="submit" value="CLEAR DIRECTORY" id="clear">
          </div>
        </form>
        
        <div class="instructions">
          <h2>Instructions</h2>
          <ul>
            <li><strong><u>MIDI</u></strong>: Web browsers aren't great at keeping accurate time. If you want an accurate BPM, 
            then you can hook up an external sampler or drum machine to your computer (via MIDI interface) to keep time. 
            Tell the drum machine to play 16 straight sixteenth notes, 
            and this machine in the browser will update its count every time your external 
            drum machine plays a note. Click the "MIDI" button, and try it out! 
            While MIDI is off, the browser will keep time on its own. </li>
            <li><strong><u>RECORD</u></strong>: Click "RECORD" to start recording your drum loop. 
            Click the button again to stop. Then click again to turn your drum loop 
            into an HTML audio element that you can download as a .wav file.</li>
            <li><strong><u>CLEAR TRACKS</u></strong>: Press "C" on your keyboard to clear the tracks.</li>
            <li><strong><u>UPLOAD</u></strong>: You can upload your own sample packs to play with this drum machine.
            Click "Choose Files." Hold down "Select" to select multiple audio files to upload from your computer. 
            Click "Upload" once you've selected the files you want.</li>
            <li><strong><u>DELETE</u></strong>:</li>
          </ul>
        </div>
      </div>

      <div class="container">
        <div class="flex-container">
          <canvas id="screen" width="637" height="350"></canvas>
        </div>
        <div class="flex-container">
          <button id="record">RECORD</button>
          <button id="stop" class="hidden">STOP</button>
          <button id="wav" class="hidden">CREATE .WAV FILE</button>
          <button id="midi">MIDI OFF</button>
        </div>
      </div>
    </div>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
