body, html {
  background: black;
  font-family: Arial;
  height: 100%;
  margin: 0;
}

h1 {
  color: white;
  font-size: 30px;
  margin-bottom: 50px;
  margin-top: 100px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
}

input, select {
  font-size: 20px;
  height: 50px;
  width: 270px;
}

.container {
  height: 100%;
}

.flex-container {
  display: flex; 
  justify-content: center;
}

.view {
  margin-right: 100px;
}

.view form {
  margin-bottom: 20px;
}

button {
  font-size: 24px;
  height: 35px;
  margin-right: 20px;
  width: 250px;
}

#midi {
  background: #00BA8C;
  border: 1px solid #00BA8C;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  margin-right: 0;
  padding: 5px 20px;
}

#getFiles {
  margin-right: 10px;
}

#record, #stop, #wav {
  background: darkred;
  border: 1px solid darkred;
  border-radius: 2px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 5px 20px;
}

#record {
  background: red;
}

#wav {
  background: #F15A2B;
}

.hidden {
  display: none;
}

.instructions {
  color: white;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 600px;
}

audio {
  margin-bottom: 20px;
  margin-top: 20px;
}

@media screen and (max-width: 700px) {
  body .glitchButton {
    display: none;
  }
  
  .outer {
    flex-direction: column;
  }
}